
@using Customers.Data;
@using Customers.Domain;
@using Highway.Data;
@using System.Data.Entity;
@using Customers.Web.Models;

@model CustomerModel

@{
    var connectionString = "Server=tcp:s4lin082lz.database.windows.net,1433;Database=customers_new_db;User ID=kevin@s4lin082lz;Password=Sup3erS3cureP4ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;";
    var mappingConfig = new MappingConfig();
    var context = new DataContext(connectionString, mappingConfig);
    var repo = new Repository(context);

    var customers = repo.Find(new GetAllCustomers()).ToList();
    var companies = repo.Find(new GetAllCompanies()).ToList();
    
    foreach(var customer in customers)
    {
        customer.BillingAddress = repo.Find(new GetBillingAddressById(customer.Id)).First();
    }

    if (customers.Count == 0)
    {
        var customer = new Customer { FirstName = "A", LastName = "B", Company = new Company("C"), Email = "a@b.com" };
    }
    
    ViewBag.Title = "Customers";
}
<div class="row">
    <div class="large-12 columns">
        <h1>List of Customers</h1>
    </div>
</div>

<div>
    <table width="100%" class="large-12 columns">
        <thead>
            <tr>
                <td align="left">
                    First Name
                </td>
                <td align="left">
                    Last Name
                </td>
                <td align="center">
                    Company Name
                </td>
                <td align="center">
                    Email Address
                </td>
                <td align="center">
                    Phone Number
                </td>
                <td align="center">
                    Billing Address
                </td>
                <td></td>
                <td align="center">
                    @Html.ActionLink("Add Customer", "AddCustomer", null, new { @class = "small button" })
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
            <tr>
                <td align="left">
                    @customer.FirstName
                </td>
                <td align="left">
                    @customer.LastName
                </td>
                <td align="center">
                    @customer.Company.Name
                </td>
                <td align="center">
                    @customer.Email
                </td>
                <td align="center">
                    @customer.Phone
                </td>
                <td align="center">
                    @if (customer.BillingAddress == null)
                    {
                        customer.BillingAddress = new Customers.Domain.CustomerBillingAddress();
                    }
                    <div>@customer.BillingAddress.Street1</div>
                    <div>@customer.BillingAddress.Street2</div>
                    <div>@customer.BillingAddress.City, @customer.BillingAddress.State @customer.BillingAddress.ZipCode</div>
                </td>

                <td align="center">
                    @Html.ActionLink("Edit", "EditCurrentCustomer", new { Model, customer.Id })
                </td>
                <td align="center">
                    @Html.ActionLink("Delete", "DeleteCurrentCustomer", new { customer.Id })
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>