@using Customers.Data;
@using Customers.Domain;
@using Highway.Data;
@using System.Data.Entity;
@using Customers.Web.Models;

@model IndexViewModel

@{
    ViewBag.Title = "Customers";
}
<div class="row">
    <div class="large-12 columns">
        <h1>List of Customers</h1>
    </div>
</div>

<div>
    <center>
        <table class="show-for-medium-up">
            <thead>
                <tr>
                    <td align="left">
                        @Html.ActionLink("First Name", "Index", new IndexViewModel() { OrderBy = 1 })
                    </td>
                    <td align="left">
                        @Html.ActionLink("Last Name", "Index", new IndexViewModel() { OrderBy = 2 })
                    </td>
                    <td align="center">
                        @Html.ActionLink("Company Name", "Index", new IndexViewModel() { OrderBy = 3 })
                    </td>
                    <td align="center">
                        Email Address
                    </td>
                    <td align="center">
                        Phone Number
                    </td>
                    <td align="center">
                        Billing Address
                    </td>
                    <td></td>
                    <td align="center">
                        @Html.ActionLink("Add Customer", "AddCustomer", null, new { @class = "small button" })
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td align="left">
                            @customer.FirstName
                        </td>
                        <td align="left">
                            @customer.LastName
                        </td>
                        <td align="center">
                            @customer.Company.Name
                        </td>
                        <td align="center">
                            @customer.Email
                        </td>
                        <td align="center">
                            @{
                                var digitsOnly = new System.Text.RegularExpressions.Regex(@"[^\d]");
                                var phone = digitsOnly.Replace(customer.Phone, "");
                            }
                            @String.Format("{0:###-###-####}", Convert.ToInt64(phone))
                            </td>
                        <td align="center">
                            @if (customer.BillingAddress == null)
                            {
                                customer.BillingAddress = new Customers.Domain.CustomerBillingAddress();
                            }
                            <div>@customer.BillingAddress.Street1</div>
                            <div>@customer.BillingAddress.Street2</div>
                            <div>@customer.BillingAddress.City, @customer.BillingAddress.State @customer.BillingAddress.ZipCode</div>
                        </td>

                        <td align="center">
                            @Html.ActionLink("Edit", "EditCurrentCustomer", new { Model, customer.Id })
                        </td>
                        <td align="center">
                            @Html.ActionLink("Delete", "DeleteCurrentCustomer", new { customer.Id }, new { @style = "color: red" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </center>

    <!-- mobile view -->
    <table class="show-for-small-only">
        <thead>
            <tr>
                <td align="left">
                    First Name
                </td>
                <td align="left">
                    Last Name
                </td>
                
                <td align="center">
                    @Html.ActionLink("Add Customer", "AddCustomer", null, new { @class = "tiny button" })
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td align="left">
                        @customer.FirstName
                    </td>
                    <td align="left">
                        @customer.LastName
                    </td>

                    <td align="center">
                        @Html.ActionLink("View Details", "ViewDetails", new { Model, customer.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
